body{
  font-family: Asap, Arial, Helvetica, sans-serif;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

.row li {
  list-style: none;
  /*min-height: 295px;*/
  height: 50%;
  padding: 0;
  border: 7px solid #eee;
  overflow: hidden;
}

.row li span {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  display: block;
}

.row li p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 52px;
  font-weight: bold;
}

.real {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
}

.real li {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.link span {
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.link:hover span {
  transform: scale(1.1);
}

.desactive span {
  opacity: 0;
}

.desactive p {
  opacity: 0.3;
}

.magic {
  border: 7px solid #eee;s
  position: relative;
  height: 100%;
  margin-bottom: 0;
}

.ext {
  position: relative;
}